/* footer */
p
{
    color: #999;
    line-height: 25px;
}
.h22,#h3
{
    color: #fff;
}
.h22
{
    font-size: 18px;
}
.footer-top
{
    background: #111;
    padding: 80px 0px;
}
.segment-one #h33
{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0px;
}
.segment-one #h33::before
{
    content: '|';
    color:#c65039 ;
    padding-right: 10px;
}
.segment-two .h22
{
    color: white;
    font-family: Poppins;
    text-transform: uppercase;

}
.segment-two .h22::before
{
    content: '|';
    color:#c65039 ;
    padding-right: 10px;
}
.segment-two ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.segment-two ul li
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}
.segment-two ul li a
{
    color: #999;
    text-decoration: none;
}
.rating
{
  color: coral;
}
.segment-three .h22,
.segment-four .h22
{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;  
}
.segment-three .h22::before
{
    content: '|';
    color:#c65039 ;
    padding-right: 10px;
}
.segment-three a
{
    background: #494949;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i
{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four .h22::before
{
    content: '|';
    color:#c65039 ;
    padding-right: 10px;
}
.segment-four form input[type=submit]
{
    background: #ff4545;
    border: none;
    padding: 3px 15px;
    margin-left: 1px;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    transition-duration: 1s;
    
}
#btn:hover
{
      background: white;
      color: #c65039;
      border: none;
}
.footer-bottom-text
{
  background-color: #000;
  line-height: 75px
}
